html {
  font-size: 100px;
}

body {
  font-size: .16rem;
}

/* webkit下滚动条样式 */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link {
  color: #005980;
  font-size: 12px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}