body {
    overflow: hidden;
    user-select: none;
}

.platform {
    background-color: #fdfdfd;
    height: 70px;
    box-shadow: 0px 3px 6px 2px #607d8b59;
    position: relative;
    z-index: 1;
}

.platform>h2 {
    line-height: 70px;
    display: inline-block;
    padding-left: 50px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 200;
    background-image: url('../../images/logo.png');
    background-size: auto 60%;
    background-position: left center;
    background-repeat: no-repeat;
}

.platform>.right {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
}

.platform>.right>ul>li.label {
    padding: 0;
}

.platform>.right>ul>li.label>label {
    padding: 0 10px;
    cursor: pointer;
}

.platform>.right>ul>li:hover {
    background-color: #0573b8;
}

/* 内容列表 */
.filelist {
    position: fixed;
    left: 50px;
    top: 70px;
    outline: 1px solid #9E9E9E;
    width: calc(100vw - 100px);
    height: calc(100% - 140px);
    overflow: auto;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    background-color: #fcfcfc;
}

.filelist>table {
    width: 100%;
    text-align: left;
}

.filelist>table tr>th {
    white-space: nowrap;
    padding: 0 10px;
}

.filelist>table>thead>tr>th {
    color: #284259;
    font-size: 13px;
    line-height: 40px;
}

.filelist>table>tbody>tr {
    border: 1px solid #cdcdcd00;
}

.filelist>table>tbody>tr.active {
    background-color: #eaeaea;
}

.filelist>table>tbody>tr>th {
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    color: #3c3c3c;
    word-break: break-all;
    font-weight: 400;
    line-height: 30px;
}

.filelist>table>tbody>tr>th.name {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 90%;
    padding-left: 30px;
    color: #000000;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filelist>table>tbody>tr>th.name>span {
    white-space: nowrap;
}

.filelist>table>tbody>tr.file>th.name {
    background-image: url('../../images/file.png');
}

.filelist>table>tbody>tr.file.zip>th.name {
    background-image: url('../../images/zip.png');
}

.filelist>table>tbody>tr.folder>th.name {
    background-image: url('../../images/folder.png');
}

.noshow {
    display: none;
}

/* 底部按钮 */
.mult-bottom-btns {
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 0;
    white-space: nowrap;
    overflow: auto;
}

.mult-bottom-btns>.button {
    width: 90px;
    line-height: 30px;
    font-size: 12px;
    margin: 20px 10px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #fdfdfd;
    outline: 1px solid #9E9E9E;
    cursor: pointer;
    display: inline-block;
}

.mult-bottom-btns>.button.exit {
    background-color: red;
    color: white;
    outline: none;
}

.mult-bottom-btns>.button:hover {
    font-weight: 800;
    outline-color: black;
}

/* 右键菜单 */
.rightMenu {
    padding: 5px;
    border-radius: 10px;
    background-color: #e5e8ea;
    width: 150px;
    position: fixed;
    z-index: 2;
    left: 400px;
    top: 200px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 16px 0px #dcd6d6bf;
    font-size: 14px;
    line-height: 1.4em;
    display: none;
}

.rightMenu>ul>li {
    padding: 2px 5px;
}

.rightMenu>ul>li>label {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.rightMenu>ul>li.line {
    width: 100%;
    border-bottom: 1px solid #cbced0;
    padding: 0;
    margin: 5px 0;
}

.rightMenu>ul>li:not(.line):hover {
    background-color: #4b9cfb;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* 进度条 */
.process-view {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000024;
    display: none;
}

.process-view>.content {
    width: 430px;
    background-color: #ffffff;
    padding: 20px;
    margin: 200px auto;
}

.process-view>.content>.value {
    font-size: 0;
    white-space: nowrap;
}

.process-view>.content>.value>.line {
    display: inline-block;
    width: 300px;
    height: 20px;
    border-left: 0px solid #2196F3;
    background-color: #efefef;
}

.process-view>.content>.value>.num {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    font-weight: 200;
    padding-left: 10px;
    font-size: 14px;
}

.process-view>.content>.info {
    padding-top: 10px;
    color: #000000;
    font-weight: 800;
    font-family: cursive;
    word-break: break-all;
}

/* 显示文件 */
.showfile-view {
    position: fixed;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #ffffff;
    box-shadow: 0 0 5px 3px #9E9E9E;
    text-align: left;
    z-index: 2;
    border-radius: 10px;
}

.showfile-mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.showfile-view>header>h2 {
    background-size: auto 70%;
    background-position: 10px center;
    background-repeat: no-repeat;
    line-height: 40px;
    font-size: 16px;
    font-family: cursive;
    padding-left: 50px;
    background-color: #b0c9dd;
    background-image: url("../../images/logo.png");
    border-radius: 10px 10px 0 0;
}

.showfile-view>header>.close {
    width: 59px;
    height: 24px;
    background-image: url("../../images/close-btn.png");
    font-size: 0;
    position: absolute;
    right: 30px;
    top: 0;
    cursor: pointer;
}

.showfile-view>.content {
    width: 100%;
    height: calc(100% - 40px);
}

.showfile-view>.content.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showfile-view>.content.plain {
    margin: 0;
    padding: 10px;
    overflow: auto;
}

.showfile-view>.content.plain>pre {
    user-select: text;
    white-space: break-spaces;
}

.showfile-view>.content.img>img {
    max-width: 100%;
    max-height: 100%;
}

/* 无文件 */
.filelist>.blank {
    text-align: center;
}

.filelist>.blank>.title {
    text-align: center;
    font-weight: 700;
    color: #1a1a1a;
    font-size: 36px;
    line-height: 48px;
    padding-top: 50px;
}

.filelist>.blank>.tips {
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    color: #1a1a1a;
    font-weight: 300;
    margin: 10px 0;
}

.filelist>.blank>.file {
    line-height: 50px;
    display: inline-block;
    border: 1px solid gray;
    background-image: url("../../images/addFile.svg");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: auto 70%;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.filelist>.blank>.file:hover {
    text-decoration: underline;
}