.forget-view {
    background-color: #dee6fe;
    text-align: center;
    height: 100vh;
    padding-top: calc(50vh - 250px);
    overflow: auto;
}

.forget-view>.content {
    background-color: white;
    width: 400px;
    display: inline-block;
    border-radius: var(--block-border-radius);
}

.forget-view>.content>h2 {
    line-height: 100px;
    text-align: left;
    padding: 0 20px;
    position: relative;
}

.forget-view>.content>.input {
    padding-bottom: 20px;
}

.forget-view>.content>.input input {
    height: 40px;
    padding-left: 10px;
    width: 90%;
    border: none;
    box-sizing: border-box;
    background-color: #f4f8ff;
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid rgb(196 203 208);
}

.forget-view>.content>.input>.email-vertify {
    text-align: left;
    margin: 0 20px;
    font-size: 14px;
    width: 100%;
    position: relative;
}

.forget-view>.content>.input>.email-vertify>button {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 45px;
}

.forget-view>.content>.input button {
    color: #fff;
    background-color: #005980;
    display: inline-block;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.forget-view>.content>.input>.login {
    margin-top: 20px;
}